if SHIELD_THUMBY46_LEFT

config ZMK_KEYBOARD_NAME
    default "Thumby46"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_THUMBY46_LEFT || SHIELD_THUMBY46_RIGHT

config ZMK_SPLIT
    default y

endif